body {
	background-color: #f5f2d5;
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.wrapper {
  display: flex; /* or inline-flex */
  justify-content: center;
}

.paper {
	max-width: 840px;
	width: auto;
	padding:20px;
	padding-bottom: 10px
}

.double-line {
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	height: 3px
}

.double-line-inv {
	border-bottom: 1px solid black;
	border-top: 2px solid black;
	height: 3px;
	margin-bottom: 30px
}

.logo {
	img {
		width: 100%
	}
	margin-bottom:4px
}

header {
	margin-bottom:0;
	font-size:16px;
	@media all and (max-width: 550px) {
		font-size:12px;
	}
}

footer {
	margin-top: 120px;
	p {
		margin-bottom: 4px
	}
	@media all and (max-width: 550px) {
		font-size:12px;
	}
}

pre {
	background: #e0ddbb;
    margin: 0;
    padding: 10px;
}

h2 {
			font-size: 18px;
			letter-spacing: -0.2;
			margin-bottom: -5px;
		}

.main p:first-of-type {
	// so that all columns are aligned
	margin-top: 0;
}

.main p:first-of-type:first-letter, .first:first-letter {
  float: left;

  color: black;
  font-size: 60px;
  margin: -2px 8px -10px -4px;
  font-family: Sorts Mill Goudy, Playfair Display;
  font-weight: normal;

  /* To make it not overflow the rest of the text I'd suggest adding a line-height */
  line-height: 60px;
}

article {
	margin-bottom: 80px;
	h1 {
		font-size: 72px;
		margin:15px 0 10px;
		line-height: 0.8;
		padding:40px 0;
		word-wrap: break-word;
		// text-align: justify;
		font-family: "Arial", Gadget, sans-serif;
		@media all and (max-width: 850px) {
			font-size:30px;
			padding:15px 0;
		}
	}

	.main {

		column-count: 3;
		column-gap: 3em;
		text-align: justify;

		.byline {
			padding:10px;
			text-align: center;
			border: solid 1px grey;
			border-style: solid none solid none;
		}

		h1, h2 {
			text-align: left
		}

		@media all and (max-width: 850px) {
			column-count:2;
			column-gap: 1.5em;
		}
		@media all and (max-width: 550px) {
			column-count:auto;
			// column-gap: auto;

		}
		
		

		
	}

	.infobox {
		width:calc(50% - 30px);
		background: #e0ddbb;
		padding: 5px 20px 20px;
		// margin-top: 20px;
		@media all and (max-width: 700px) {
			margin-top: 20px;
			width: calc(100% - 40px);
		}
	}

	figure {
		float: right;
		width: calc(50% - 30px);
		margin:0;
		text-align: center;
		@media all and (max-width: 700px) {
			width: 100%;
			float: none;
			display: block;
		}

		img {
			// width: 100%;
			height: 400px
		}

		figcaption {
			font-size: 14px
		}
	}
}

.weather-grid {
	display:grid;
	grid-auto-columns: 33%;
	.item {
		grid-row:1;
		padding:10px 10px
	}
	text-align: center;
	img {
		margin-top: 6px;
		filter: sepia(42%);
	}
}

.grid {
	display:grid;
	grid-auto-columns: 33%;
	.third {
		grid-row:1;
		padding:0 10px
	}
}

@media all and (max-width: 850px) {
	.grid.responsive {
		grid-auto-columns: 100%;

		.third {
			grid-row: auto
		}
	}
}

blockquote {
	font-size: 40px;
    padding: 50px 50px 50px;
    color: #3c3c3c;

    .name {
    	font-size: 20px;
    	text-align: right;
    	color:black
    }
}

// links

a:link, a:visited {
	color: #75540a;
	text-decoration: none;
	font-weight: bold
}

a:hover {
	text-decoration: underline;
}